form {
  max-width: 460px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
}

span {
  color: red;
  display: block;
}

button {
  margin: 10px 10px 0 0;
  padding: 8px 14px;
}
